* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower',
        cursive;
}

body {
    background: rgb(64, 59, 125);
    color: white;
    position: relative;
    height: 100vh;
}

header {
    padding: 40px;
    display: flex;
    align-items: center;
    background: rgb(40, 37, 79);
    justify-content: space-evenly;
}

header section {
    display: flex;
    align-items: center;
}

header img {
    width: 10%;
    margin-right: 20px;
}

header h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(97, 218, 251);
}

header h3 {
    font-size: 1.5rem;
    width: 600px;
    text-transform: capitalize;
    text-align: center;
}

main {
    padding: 30px 60px;
    line-height: 60px;
    font-size: 2rem;
    letter-spacing: 2px;
}

main h2 {
    font-size: 2.5rem;
    text-decoration: underline;
    text-align: center;
    text-transform: capitalize;
}

footer {
    background: rgb(40, 37, 79);
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1.5rem;
    height: 4%;
    text-align: center;
}

footer a {
    color: rgb(117, 107, 227);
}

@media only screen and (min-width:200px) and (max-width:680px) {
    * {
        font-size: 10px;
    }

    header {
        padding: 20px;
    }

    header h1 {
        font-size: 1.5rem;
    }

    main {
        line-height: 40px;
    }

    main h2 {
        font-size: 1.9rem;
    }

    main ol li {
        font-size: 1.5rem;
    }

    footer {
        height: 3%;
    }
}